div#dialog_event(title="修改活動")
	form(method="post", action="" enctype="multipart/form-data")
		.line
			label 活動標題：
			input.title(type="text" name="title")
		.line
			label 上傳照片：
			input.pic(type="file" name="pic")
		.line
			label 日期時間：
			input.date(type="text" name="date")
		.line
			label 活動地址：
			input.place(type="text" name="place")
		.line
			label(for="url") 活動網址：
			input.url(type="text" name="url")
		.line
			label 類別：
			#category_radio
				- each category, index in GLOBAL.CATEGORY
					input.category(type="radio", id="category_event#{index}", name="category", value="#{category.en}")
					label(for="category_event#{index}") #{category.tw}
		.line(style="margin-top: 10px;")
			label 活動描述：
			textarea.des(name="des")

	script.
		function clearDialogEvent() {
			console.log("clear");
			$('#dialog_event form').attr('action', '/resource/event/');
			$('#dialog_event form .title').val('');
			$('#dialog_event form .pic').val('');
			$('#dialog_event form .date').val(moment().format('YYYY-MM-DD'));
			$('#dialog_event form .place').val('');
			$('#dialog_event form .url').val('');
			$('#dialog_event .category').attr('checked',false);
			$('#dialog_event form .des').val('');
		}

		$('#dialog_event #category_radio').buttonset();

		$('#dialog_event').dialog({
			width: 550,
			height: 400,
			autoOpen: false,
			modal: true,
			buttons: {
				"送出": function(){
					var form = $('#dialog_event form').ajaxSubmit({
						success: function(data) {
							$('#dialog_update_event').dialog('close');
							location.reload();
						}
					});
				},
				"取消": function(){
					$('#dialog_event').dialog('close');
				}
			}
		});

		$('#dialog_event form .date').datepicker({
			dateFormat: 'yy-mm-dd'
		});