div#dialog_job(title="修改工作機會")
	form(method="post", action="" enctype="multipart/form-data")
		.line
			label 職缺名稱：
			input.title(type="text" name="title")
		.line
			label 人數：
			input.count(type="text" name="count")
		.line
			label 薪資範圍：
			select.salary(name="salary")
				option $20,000 以下
				option $21,000 ~ $30,000
				option $31,000 ~ $40,000
				option $41,000 ~ $50,000
				option $51,000 ~ $60,000
				option $61,000 ~ $70,000
				option $71,000 ~ 以上
		.line
			label(for="url") 公司網址：
			input.url(type="text" name="url")
		//- .line
		//- 	label 類別：
		//- 	#category_radio
		//- 		- each category, index in GLOBAL.CATEGORY
		//- 			input.category(type="radio", id="category_event#{index}", name="category", value="#{category.en}")
		//- 			label(for="category_event#{index}") #{category.tw}
		.line(style="margin-top: 10px;")
			label 介紹與描述：
			textarea.des(name="des")
		.line
			label 電子郵件：
			input.email(type="text" name="email")

	script.
		function clearDialogJob() {
			console.log("clear");
			$('#dialog_job form').attr('action', '/resource/job/');
			$('#dialog_job form .title').val('');
			$('#dialog_job form .count').val('');
			//- $('#dialog_job form .salary-range').val(moment().format('YYYY-MM-DD'));
			$('#dialog_job form .url').val('');
			$('#dialog_job form .des').val('');
			$('#dialog_job form .email').val('');
		}

		$('#dialog_job').dialog({
			width: 550,
			height: 400,
			autoOpen: false,
			modal: true,
			buttons: {
				"刊登": function(){
					var form = $('#dialog_job form').ajaxSubmit({
						success: function(data) {
							$('#dialog_job').dialog('close');
							location.reload();
						}
					});
				},
				"取消": function(){
					$('#dialog_job').dialog('close');
				}
			}
		});

		$('#dialog_job form .salary').selectmenu();