div#dialog_link(title="分享文章")
	form(method="post", action="" enctype="multipart/form-data")
		.line
			label 自訂標題：
			input.title(type="text" name="title")
		.line
			label 自訂連結：
			input.url(type="text" name="url")
		.line
			label 類別：
			#category_radio
				- each category, index in GLOBAL.CATEGORY
					input.category(type="radio", id="category_link#{index}", name="category", value="#{category.en}")
					label(for="category_link#{index}") #{category.tw}

	script.
		function clearDialogLink() {
			$('#dialog_link form').attr('action', '/resource/link/');
			$('#dialog_link .title').val('');
			$('#dialog_link .url').val('');
			$('#dialog_link .category').attr('checked',false);
		}

		$('#dialog_link #category_radio').buttonset();

		$('#dialog_link').dialog({
			width: 550,
			height: 230,
			autoOpen: false,
			modal: true,
			buttons: {
				"送出": function(){
					var form = $('#dialog_link form').ajaxSubmit({
						beforeSubmit: function(arr, form, options) {
							;
						},
						uploadProgress: function(event, position, total, percentComplete) {
							;
						},
						success: function(data) {
							$('#dialog_link').dialog('close');
							location.reload();
						}
					});
				},
				"取消": function(){
					$('#dialog_link').dialog('close');
				}
			}
		});