extends layout

block body_content
	#event_rotation
		a.event(href="/event/0")
			.event_image(style="background-image: url('/images/test_page2.jpg')", data-stellar-ratio=".5")
			//- .event_image(style="background-image: url('/images/test_page2.jpg')")
			.event_text
				.info
					.title 社企流iLab 「Do It 創意行動計畫」
					span.datetime 即日起徵件至11/30截止！
					//- span.address 中正紀念堂自由廣場
	include includes/valuechain

	+valuechain_companies(ctrl_categories, ctrl_member_list)
	+valuechain_link(ctrl_categories, ctrl_link_list)
	+valuechain_events(ctrl_categories, ctrl_event_list)

	//- .calendar_content
	//- 	.cal_title 日曆
	//- 	.page
	//- 		.cal2#calendar1
	//- 		.event-place#ep0
	//- 		.cal2#calendar2
	//- 		//- .cal2#calendar3
	//- 		.event-place#ep1
	//- 			//- div 點選左邊日曆觀看活動
	//- 			//- a#event-use

block body_script
	script(src="/javascripts/jquery.stellar.min.js")
	//-
		script(src="/javascripts/clndr.min.js")
		link(rel="stylesheet", href="/stylesheets/clndr.css")
		script(type="text/template" id="clndr-template")
			| <div class="clndr-controls">
			| 	<div class="month"><%= month %></div>
			| </div>
			| <div class="clndr-grid">
			| 	<div class="days-of-the-week">
			| 		<% _.each(daysOfTheWeek, function(day) { %>
			| 			<div class="header-day"><%= day %></div>
			| 		<% }); %>
			| 	<div class="days">
			| 		<% _.each(days, function(day) { %>
			| 			<div class="<%= day.classes %>"><%= day.day %></div>
			| 		<% }); %>
			| 	</div>
			| 	</div>
			| </div>

	script.
		/*
		var event_list_use = !{JSON.stringify(event_list)};
		$(function() {
			- for(var i =0 ; i<2; i++){
			- 	change_event_place(event_list_use[i], i);
			- }			
		});

		function change_event_place(events, index){
			console.log(index);
			html = '';
			for (var i=0; i<events.length; i++){
				html += '<a class="event-use" href='+events[i].url+'>'+events[i].title+'</a></br>';
			}
			$('#ep'+index).html(html);
		}
		var currentMonth = moment().format('YYYY-MM');
		var nextMonth    = moment().add('month', 1).format('YYYY-MM');
		var nextNextMonth    = moment().add('month', 2).format('YYYY-MM');
		function click_event(target){
			var month = 0;
			if(target.events[0].date.split("/")[1] > parseInt(currentMonth.split("-")[1]))
				month = 1;
			var dic = [{url:target.events[0].url, title:target.events[0].title}];
			change_event_place(dic, month);
		}
		$('#calendar1').clndr({
			template: $('#clndr-template').html(),
			startWithMonth: currentMonth,
			events: event_list_use[0],
			clickEvents: {
				click: click_event
			}
		});
		$('#calendar2').clndr({
			template: $('#clndr-template').html(),
			startWithMonth: nextMonth,
			events: event_list_use[1],
			clickEvents: {
				click: click_event
			}
		});
		$('#calendar3').clndr({
			template: $('#clndr-template').html(),
			startWithMonth: nextNextMonth,
			events: event_list_use[2],
			clickEvents: {
				click: click_event
			}
		});
		*/

		$(function() {
			$.stellar();
			//- $('.valuechain_list li img').each(function(index, element) {
			//- 	fitDiv(element);
			//- });

			var path = window.location.href.split('/')[3];
			var target = "";
			if(path == "?introduction"){
				target = $("#introduction");
			}else if(path == "?close_event"){
				path == $("#close_event");
			}else{
				return;
			}
			target = target.length ? target : $('[name=' + path.slice(1) +']');
			if (target.length) {
				$('html,body').animate({
					scrollTop: target.offset().top-50
				}, 300);
				return false;
			}
			$('a[href*=#]:not([href=#])').click(function () {
				if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
					var target = $(this.hash);
					target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
					if (target.length) {
						$('html,body').animate({
							scrollTop: target.offset().top-50
						}, 300);
						return false;
					}
				}
			});
		});
		