extends layout

block body_content
	.introduction_background
		.introduction_content
			h1 理念說明
			p 說明文字說明文字說明文字說明文字說明文字說明文字說明文字說明文字

	include includes/valuechain
	+valuechain_companies(category, category_companies)
