extends layout


block body_content
	.page
		form.simple_form(action="/login", method="post")
			h2 成員登入
			.error #{ctrl_login}
			.line
				label(for="name") 帳號：
				input(type="text" name="name")
			.line
				label(for="password") 密碼：
				input(type="password" name="password")
			.line
				button.ui_button(type="submit") 登入
