extends layout

block body_content
	.page_use
		table(cellpadding="0" cellspacing="0" border="0" class="display" id="demo")
			thead
				tr.tr_use
	script.

		$(function(){
			var dataSetUse = !{JSON.stringify(ctrl_plats)};
			
			plats = dataSetUse["plats"];
			crs = dataSetUse["crs"];
			var crs_list = [];
			for (var i=0 ; i<crs.length;i++) {
				crs_list.push(crs[i]["value"]);
			}

			var columns = [];
			var columnDefs = [];
			columns.push("<th>議員名字</th>")
			columnDefs.push({ "width": "10%", "targets": 0 });
			for (var i =0 ; i<638; i++){
				plat_str = plats[i]["plat_origin"];
				if(plat_str.length > 30) {
					plat_str = plat_str.substring(0, 30);
					plat_str = plat_str+"...";
				}
				columns.push("<th class=title_columns data-origin="+plats[i]["plat_origin"]+">"+plat_str+"</th>");
				columnDefs.push({ "width": "30%", "targets": i+1});
			}
			for(var i =0 ; i< columns.length; i++){
				$(".tr_use").append(columns[i]);
			}
			var table = $('#demo').dataTable({
				"data": crs_list,
				"iDisplayLength": crs_list.length,
				"width": '90%',
				"columnDefs": columnDefs
				//- "columns": columns
			});
			$('#demo tbody').on( 'click', 'tr', function () {
				if ( $(this).hasClass('selected') ) {
					$(this).removeClass('selected');
				}
				else {
					table.$('tr.selected').removeClass('selected');
					$(this).addClass('selected');
				}
			});
			$('.title_columns').hover(function(){
				$(this).tipsy({fallback:$(this).data("origin")})
			});
		});