extends layout

block body_content
	- if (typeof(ctrl_content) != 'undefined')
		h2 The posted data is
		p= ctrl_content
	- else
		form(method="post", action="/tinymce/submit")
			div(style="margin: 50px auto; width: 800px;")
				textarea(name="content")#editor

	// Neil_20141023: A from for TinyMCE to upload image

	iframe(name="tinymce_iframe", style="display: none")
	form#tinymce_upload(action="/tinymce/upload", target="tinymce_iframe", method="post", enctype="multipart/form-data", style="width: 0px; height: 0; overflow: hidden")
		input(name="test", type="hidden", value="hello")
		input#tinymce_upload_path(name="image", type="file", multiple="multiple", onchange="tinymceUpload();")

block body_script
	script(src="/javascripts/jquery.form.js")
	script(src="/javascripts/tinymce/tinymce.min.js")
	script.
		var tinymce_field;

		tinymce.init({
			selector: "#editor",
			height: "300px",
			plugins: "link image textcolor wordcount code save",
			toolbar: "undo redo styleselect | forecolor bold underline | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image | save",
			file_browser_callback: function(field_name, url, type, win) {
				if(type=='image') {
					tinymce_field = $('#' + field_name);
					$('#tinymce_upload_path').click();
				}
			}
		});

		function tinymceUpload() {
			var path = $('#tinymce_upload_path').val();
			tinymce_field.val('Uploading...');

			$('#tinymce_upload').ajaxSubmit({
				beforeSubmit: function(form_data, form, options) {}, // Note: return false will cancel the submit.
				success: function(response, status, xhr, form) {
					tinymce_field.val(response);
				},
				uploadProgress: function(event, position, total, percentComplete) {
					tinymce_field.val(sprintf('Uploading...%3d%%', percentComplete));
				},
				error: function(xhr, error) {
					tinymce_field.val('Upload failed!');
					console.log(sprintf('ERROR: %s', error));
				}
			});
		}