extends layout

block body_content
	.page
		h2 工作機會
		hr
		p 歡迎定期追蹤資訊，留意創新、創業的最新職缺。

	//-	
		#company_intro
			.company_top
				.work_chance 工作機會
				//- .cate_circle_logo
				//- 	.cate_circle
				//- 		.cate_img.sprite.sprite_try_teacher
				//- 		.cate_text 試做導師
				//- 	img.company_logo(src="/images/iLab_logo.png")
				//- .company_info
				//- 	img.company_img(src="/images/test_page2.jpg")
				.company_botton_line

			.company_body
				.company_content
					p
						| 歡迎定期追蹤資訊，留意創新、創業的最新職缺。