extends ../layout

block body_content
	.page
		h2 關於 
			span.color_main Start Up 
			span.color_main_light Taiwan
			//- .cate_circle_logo
			//- 	.cate_circle
			//- 		.cate_img.sprite.sprite_try_teacher
			//- 		.cate_text 試做導師
			//- 	img.company_logo(src="/images/iLab_logo.png")
			//- .company_info
			//- 	img.company_img(src="/images/test_page2.jpg")
			.company_botton_line

		.company_body
			.company_content
				p
					| 「Start Up Taiwan」是一群投入創新、創業的公司或個人，所組成的社群。</br></br>
					| 願景是把國際上創新、創業的案例，帶來台灣。同時幫助台灣創新、創業的案例，走向國際。 </br></br>
					| 方法是動員國際和台灣，跟創新、創業有關的各環節的公司，進行知識和資源的交流。</br></br>
					| 結果是讓台灣想要創新、創業的組織或個人，得到國際化的視野，以及走向國際的資源。</br></br>
					| 我們會在網站上分享觀點，並邀請具有國際經驗的公司舉辦活動、課程、輔導、招募、投資。</br></br>
					| 歡迎加入我們的討論和活動，一起啓動台灣、走向世界。