extends ../layout


block body_content
	.contact_background
		.contact_content
			h1 訂閱最新資訊
			label 訂閱電子報，內容包括：
			ul
				li 新的活動通知
				li 新的企業加入
			form.contact_form
				span 你的姓名: 
					input(type="text" name="name")
				span 電子郵件: 
					input(type="text" name="email")
				button 送出